{% load form_tags widget_tweaks %}

{% if form.non_field_errors %}
	<div class="alert alert-danger" role="alert">
		{% for error in form.non_field_errors %}
			<p {% if forloop.last %}class="mb-0"{% endif %}>
				{{ error }}
			</p>
		{% endfor %}
	</div>
{% endif %}

{% for field in form %}
	<div class="mb-3">
		{{ field.label_tag }}

        {% if field|is_radio %}
            {% for key, val in field.field.widget.choices %}
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="role" id="id_role_{{key}}" value={{key}}
                    {% if forloop.first %} checked {% endif %}
                    >
                    <label for="id_role_{{key}}" class="form-check-label">
                        {{ val }}
                    </label>
                </div>
            {% endfor %}
        {% else %}
            {% render_field field class=field|input_class %}
        {% endif %}

		{% for error in field.error %}
			<div class="invalid-feedback">
				{{ error }}
			</div>
		{% endfor %}

		{% if field.help_text %}
			<small class="form-text text-muted">
				{{ field.help_text|safe }}
			</small>
		{% endif %}
	</div>
{% endfor %}

{% for field in extra %}
	<div class="mb-3">
		{{ field.label_tag }}

        {{ field.field.widget.name }}

        {% render_field field class=field|input_class %}

		{% for error in field.error %}
			<div class="invalid-feedback">
				{{ error }}
			</div>
		{% endfor %}

		{% if field.help_text %}
			<small class="form-text text-muted">
				{{ field.help_text|safe }}
			</small>
		{% endif %}
	</div>
{% endfor %}